.navbar-div {
    display: flex;
    height: 50px;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.nav-logo {
    width: 20%;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    align-items: center;
    color: #3e60d8;
}

.nav-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.nav-desc{
    font-size: 15px;
    text-align: center;
}

.nav-links-div {
    width: 60%;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-link {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 18px;
    text-decoration: none;
}

.navbar-text{
    color: #3e60d8;
}

.navbar-text:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-text:hover:after {
    width: 100%;
    background: blue;
}

.nav-user-logout-div {
    width: 20%;
    height: 60px;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
}

.nav-user-div {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-bottom: 5px;
}

.pfp-image {
    width: 23px;
    display: inline-block;
    background-image: url(../images/pfp-icon.png);
}

.nav-current-user {
    margin-left: 5px;
}

.nav-logout-button-div {
    justify-content: center;
    margin: auto;
}

#logout-button {
    width: 90px;
    background-color: white;
    color: #3e60d8;
    font-size: 16px;
    border-color: #3e60d8;
    border-radius: 12px;
    border-width: 2px;
}

#logout-button:hover {
    color: white;
    background-color: #3e60d8;
    transition: .5s;
}
