.font-link {
    font-family: 'Lato';
}

.login-page {
    display: flex;
    width: 100%;
    height: auto;
}

.login-image {
    width: 70%;
    position: relative;
    text-align: center;
    color: white;
}

.login-form {
    width: 30%;
    float: right;
    padding: 0px;
    text-align: center;
    justify-content: center;
}

.login-westfood-logo {
    color: #3e60d8;
    font-weight: 600;
    font-size: 50px;
    padding-top: 180px;
}

.login-title {
    color: black;
    font-size: 23px;
    padding-top: 40px;
}

.login-email {
    padding-top: 30px;
}

input[type=text] {
    border-radius: 10px;
    height: 20px;
    border-width: 1px;
    width: 180px;
}

input[type=password] {
    border-radius: 10px;
    height: 20px;
    border-width: 1px;
    width: 180px;
}

.login-buttons-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.login-signup-button {
    border-radius: 10px;
    border: 1px solid black;
    width: 80px;
    height: 20px;
    background-color: #3e60d8;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-top: 4px;
}

.login-signup-button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: .5s;
}

#login-submit-button {
    color: #838383;
    width: 80px;
    height: 26px; 
    border: 1px solid black;
    background: #ededed;
    border-radius: 10px;
}

#login-submit-button:hover {
    background-color: #3e60d8;
    color: white;
    transition: .5s;
}